In [3]:
import pandas as pd 
import numpy as np
import pickle

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.compose import ColumnTransformer
from sklearn.svm import SVR
from xgboost import XGBRegressor

In [4]:
url = 'https://raw.githubusercontent.com/sharonkadamandla/IPL_game_prediction/main/ipl_data.csv'
df = pd.read_csv(url)

In [5]:
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

#### Understanding data

In [6]:
print("\nData types:")
print(df.dtypes)

print("\nMissing values:")
print(df.isnull().sum())

print("\nSummary statistics for numerical columns:")
print(df.describe())

print("\nValue counts for categorical columns:")
for column in df.select_dtypes(include=['object']).columns:
    print(f"\n{column}:")
    print(df[column].value_counts())

print("\nDuplicate rows:")
print(df.duplicated().sum())

Data types:
mid                 int64
date               object
venue              object
bat_team           object
bowl_team          object
batsman            object
bowler             object
runs                int64
wickets             int64
overs             float64
runs_last_5         int64
wickets_last_5      int64
striker             int64
non-striker         int64
total               int64
dtype: object

Missing values:
mid               0
date              0
venue             0
bat_team          0
bowl_team         0
batsman           0
bowler            0
runs              0
wickets           0
overs             0
runs_last_5       0
wickets_last_5    0
striker           0
non-striker       0
total             0
dtype: int64

Summary statistics for numerical columns:
                mid          runs       wickets         overs   runs_last_5  \
count  76014.000000  76014.000000  76014.000000  76014.000000  76014.000000
mean     308.627740     74.889349      2.415844      9.783068     33.216434
std      178.156878     48.823327      2.015207      5.772587     14.914174
min        1.000000      0.000000      0.000000      0.000000      0.000000
25%      154.000000     34.000000      1.000000      4.600000     24.000000
50%      308.000000     70.000000      2.000000      9.600000     34.000000
75%      463.000000    111.000000      4.000000     14.600000     43.000000
max      617.000000    263.000000     10.000000     19.600000    113.000000

       wickets_last_5       striker   non-striker         total
count    76014.000000  76014.000000  76014.000000  76014.000000
mean         1.120307     24.962283      8.869287    160.901452
std          1.053343     20.079752     10.795742     29.246231
min          0.000000      0.000000      0.000000     67.000000
25%          0.000000     10.000000      1.000000    142.000000
50%          1.000000     20.000000      5.000000    162.000000
75%          2.000000     35.000000     13.000000    181.000000
max          7.000000    175.000000    109.000000    263.000000

Value counts for categorical columns:

date:
2010-03-25    257
2011-04-22    257
2012-05-20    256
2015-04-25    255
2014-05-14    254
             ...
2014-05-02    103
2008-05-07    103
2008-05-16     98
2012-04-05     74
2015-05-13     63
Name: date, Length: 442, dtype: int64

venue:
M Chinnaswamy Stadium                                   7443
Feroz Shah Kotla                                        7068
Eden Gardens                                            7049
Wankhede Stadium                                        7048
MA Chidambaram Stadium, Chepauk                         5972
Rajiv Gandhi International Stadium, Uppal               5827
Punjab Cricket Association Stadium, Mohali              4247
Sawai Mansingh Stadium                                  4110
Dr DY Patil Sports Academy                              2088
Subrata Roy Sahara Stadium                              2086
Maharashtra Cricket Association Stadium                 1843
Kingsmead                                               1731
Sardar Patel Stadium, Motera                            1484
Brabourne Stadium                                       1380
SuperSport Park                                         1377
Punjab Cricket Association IS Bindra Stadium, Mohali    1342
Saurashtra Cricket Association Stadium                  1229
Himachal Pradesh Cricket Association Stadium            1115
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     1113
New Wanderers Stadium                                    995
St George's Park                                         870
Dubai International Cricket Stadium                      868
Barabati Stadium                                         856
JSCA International Stadium Complex                       837
Sheikh Zayed Stadium                                     836
Sharjah Cricket Stadium                                  744
Shaheed Veer Narayan Singh International Stadium         742
Newlands                                                 737
Holkar Cricket Stadium                                   617
Nehru Stadium                                            499
Green Park                                               492
Buffalo Park                                             380
Vidarbha Cricket Association Stadium, Jamtha             370
De Beers Diamond Oval                                    368
OUTsurance Oval                                          251
Name: venue, dtype: int64

bat_team:
Mumbai Indians                 10213
Kings XI Punjab                 9219
Chennai Super Kings             9142
Royal Challengers Bangalore     8331
Kolkata Knight Riders           8033
Delhi Daredevils                7152
Rajasthan Royals                6643
Deccan Chargers                 5280
Sunrisers Hyderabad             5216
Pune Warriors                   2448
Gujarat Lions                   1726
Rising Pune Supergiant           994
Kochi Tuskers Kerala             876
Rising Pune Supergiants          741
Name: bat_team, dtype: int64

bowl_team:
Delhi Daredevils               10245
Royal Challengers Bangalore     9661
Mumbai Indians                  9271
Kolkata Knight Riders           9211
Kings XI Punjab                 8405
Rajasthan Royals                7773
Chennai Super Kings             6497
Deccan Chargers                 3984
Sunrisers Hyderabad             3589
Pune Warriors                   3083
Gujarat Lions                   1970
Rising Pune Supergiant           962
Kochi Tuskers Kerala             736
Rising Pune Supergiants          627
Name: bowl_team, dtype: int64

batsman:
SK Raina          1921
V Kohli           1825
S Dhawan          1730
RG Sharma         1726
MS Dhoni          1584
                  ...
T Henderson          1
NJ Rimmington        1
LH Ferguson          1
P Parameswaran       1
V Pratap Singh       1
Name: batsman, Length: 411, dtype: int64

bowler:
Harbhajan Singh    1404
PP Chawla          1399
P Kumar            1386
SL Malinga         1333
UT Yadav           1304
                   ...
DB Ravi Teja          6
KS Williamson         6
CK Kapugedera         6
P Prasanth            6
SA Yadav              6
Name: bowler, Length: 329, dtype: int64

Duplicate rows:
0

#### Data Cleaning 
Data has no missing values or null values

#### Data Processing

In [7]:
# Droping Colums
irrelevant = ['mid', 'date', 'venue','batsman', 'bowler', 'striker', 'non-striker']
df = df.drop(irrelevant, axis=1)

# Dropping Teams
const_teams = ['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
              'Mumbai Indians', 'Kings XI Punjab', 'Royal Challengers Bangalore',
              'Delhi Daredevils', 'Sunrisers Hyderabad']
df = df[(df['bat_team'].isin(const_teams)) & (df['bowl_team'].isin(const_teams))]
df = df[df['overs'] >= 5.0]

#### Encoding

In [8]:
#label encoder
label_encoder = LabelEncoder()
for col in ['bat_team', 'bowl_team']:
  df[col] = label_encoder.fit_transform(df[col])

#onehot encoding
columnTransformer = ColumnTransformer([('encoder', OneHotEncoder(), [0, 1])], remainder='passthrough')
ipl_df = np.array(columnTransformer.fit_transform(df))

In [9]:
cols = ['batting_team_Chennai Super Kings', 'batting_team_Delhi Daredevils', 'batting_team_Kings XI Punjab',
              'batting_team_Kolkata Knight Riders', 'batting_team_Mumbai Indians', 'batting_team_Rajasthan Royals',
              'batting_team_Royal Challengers Bangalore', 'batting_team_Sunrisers Hyderabad',
              'bowling_team_Chennai Super Kings', 'bowling_team_Delhi Daredevils', 'bowling_team_Kings XI Punjab',
              'bowling_team_Kolkata Knight Riders', 'bowling_team_Mumbai Indians', 'bowling_team_Rajasthan Royals',
              'bowling_team_Royal Challengers Bangalore', 'bowling_team_Sunrisers Hyderabad', 'runs', 'wickets', 'overs',
       'runs_last_5', 'wickets_last_5', 'total']
df = pd.DataFrame(ipl_df, columns=cols)

In [10]:
# assign colums, split data
x = df.drop(['total'], axis=1)
y = df['total']

train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.20, shuffle=True)
print(f"Training Set : {train_x.shape}\nTesting Set : {test_x.shape}")

Training Set : (32086, 21)
Testing Set : (8022, 21)

# Models

In [11]:
models = dict()

#### Linear Regression

In [12]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()

# Train Model
linreg.fit(train_x, train_y)

# Evaluate Model
train_score_linreg = str(linreg.score(train_x, train_y) * 100)
test_score_linreg = str(linreg.score(test_x, test_y) * 100)
print(f'Train Score : {train_score_linreg[:5]}%\nTest Score : {test_score_linreg[:5]}%')
models["linreg"] = test_score_linreg

Train Score : 66.02%
Test Score : 65.47%

#### SVM

In [13]:
svm = SVR()
# Train Model
svm.fit(train_x, train_y)

train_score_svm = str(svm.score(train_x, train_y)*100)
test_score_svm = str(svm.score(test_x, test_y)*100)
print(f'Train Score : {train_score_svm[:5]}%\nTest Score : {test_score_svm[:5]}%')
models["svm"] = test_score_svm

Train Score : 57.64%
Test Score : 57.22%

#### Decision Tree Regressor

In [14]:
tree = DecisionTreeRegressor()
# Train Model
tree.fit(train_x, train_y)

# Evaluate Model
train_score_tree = str(tree.score(train_x, train_y) * 100)
test_score_tree = str(tree.score(test_x, test_y) * 100)
print(f'Train Score : {train_score_tree[:5]}%\nTest Score : {test_score_tree[:5]}%')
models["tree"] = test_score_tree

Train Score : 99.98%
Test Score : 85.50%

#### Lasso Regression

In [15]:
xgb = XGBRegressor()
# Train Model
xgb.fit(train_x, train_y)

train_score_xgb = str(xgb.score(train_x, train_y)*100)
test_score_xgb = str(xgb.score(test_x, test_y)*100)
print(f'Train Score : {train_score_xgb[:5]}%\nTest Score : {test_score_xgb[:5]}%')
models["xgb"] = test_score_xgb

#### Random Forest Regression

In [16]:
forest = RandomForestRegressor()

# Train Model
forest.fit(train_x, train_y)

# Evaluate Model
train_score_forest = str(forest.score(train_x, train_y)*100)
test_score_forest = str(forest.score(test_x, test_y)*100)
print(f'Train Score : {train_score_forest[:5]}%\nTest Score : {test_score_forest[:5]}%')
models["forest"] = test_score_forest

Train Score : 99.06%
Test Score : 93.20%

In [18]:
pickle.dump(forest, open("rf_model.pkl", "wb"))